# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#MPLABX specific
*.i
*.p1
PIC18F26K42/dist/default/production/PIC18F26K42.production.cmf
PIC18F26K42/dist/default/production/PIC18F26K42.production.cmf
PIC18F26K42/dist/default/production/PIC18F26K42.production.hxl
PIC18F26K42/dist/default/production/PIC18F26K42.production.lst
PIC18F26K42/dist/default/production/PIC18F26K42.production.mum
PIC18F26K42/dist/default/production/PIC18F26K42.production.rlf
PIC18F26K42/dist/default/production/PIC18F26K42.production.sdb
PIC18F26K42/dist/default/production/PIC18F26K42.production.sym
