# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#MPLABX specific
*.i
*.p1
PIC18F26K42/dist/default/production/PIC18F26K42.production.cmf
PIC18F26K42/dist/default/production/PIC18F26K42.production.cmf
PIC18F26K42/dist/default/production/PIC18F26K42.production.hxl
PIC18F26K42/dist/default/production/PIC18F26K42.production.lst
PIC18F26K42/dist/default/production/PIC18F26K42.production.mum
PIC18F26K42/dist/default/production/PIC18F26K42.production.rlf
PIC18F26K42/dist/default/production/PIC18F26K42.production.sdb
PIC18F26K42/dist/default/production/PIC18F26K42.production.sym
PIC18F26K42/dist/default/debug/memoryfile.xml
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.cmf
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.hxl
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.lst
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.mum
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.rlf
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.sdb
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.sym
PIC18F26K42/dist/default/production/memoryfile.xml
PIC18F26K42/dist/default/production/PIC18F26K42.production.cmf
PIC18F26K42/dist/default/production/PIC18F26K42.production.hxl
PIC18F26K42/dist/default/production/PIC18F26K42.production.lst
PIC18F26K42/dist/default/production/PIC18F26K42.production.mum
PIC18F26K42/dist/default/production/PIC18F26K42.production.rlf
PIC18F26K42/dist/default/production/PIC18F26K42.production.sdb
PIC18F26K42/dist/default/production/PIC18F26K42.production.sym
PIC18F26K42/dist/default/debug/memoryfile.xml
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.cmf
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.hxl
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.lst
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.mum
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.rlf
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.sdb
PIC18F26K42/dist/default/debug/PIC18F26K42.debug.sym
PIC18F26K42/dist/default/production/memoryfile.xml
PIC18F26K42/dist/default/production/PIC18F26K42.production.cmf
PIC18F26K42/dist/default/production/PIC18F26K42.production.hxl
PIC18F26K42/dist/default/production/PIC18F26K42.production.lst
PIC18F26K42/dist/default/production/PIC18F26K42.production.mum
PIC18F26K42/dist/default/production/PIC18F26K42.production.rlf
PIC18F26K42/dist/default/production/PIC18F26K42.production.sdb
PIC18F26K42/dist/default/production/PIC18F26K42.production.sym
PIC18F27K42/dist/default/debug/memoryfile.xml
PIC18F27K42/dist/default/debug/PIC18F27K42.debug.cmf
PIC18F27K42/dist/default/debug/PIC18F27K42.debug.hxl
PIC18F27K42/dist/default/debug/PIC18F27K42.debug.lst
PIC18F27K42/dist/default/debug/PIC18F27K42.debug.mum
PIC18F27K42/dist/default/debug/PIC18F27K42.debug.rlf
PIC18F27K42/dist/default/debug/PIC18F27K42.debug.sdb
PIC18F27K42/dist/default/debug/PIC18F27K42.debug.sym
PIC18F27K42/dist/default/production/PIC18F27K42.production.cmf
PIC18F27K42/dist/default/production/PIC18F27K42.production.hxl
PIC18F27K42/dist/default/production/PIC18F27K42.production.lst
PIC18F27K42/dist/default/production/PIC18F27K42.production.mum
PIC18F27K42/dist/default/production/PIC18F27K42.production.rlf
PIC18F27K42/dist/default/production/PIC18F27K42.production.sdb
PIC18F27K42/dist/default/production/PIC18F27K42.production.sym
PIC18F27K42/dist/default/production/memoryfile.xml
PIC18F26K42/dist/default/production/PIC18F26K42.production.cmf
PIC18F26K42/dist/default/production/PIC18F26K42.production.hxl
PIC18F26K42/dist/default/production/PIC18F26K42.production.lst
PIC18F26K42/dist/default/production/PIC18F26K42.production.mum
PIC18F26K42/dist/default/production/PIC18F26K42.production.rlf
PIC18F26K42/dist/default/production/PIC18F26K42.production.sdb
PIC18F26K42/dist/default/production/PIC18F26K42.production.sym
PIC18F27K42/dist/default/production/PIC18F27K42.production.cmf
PIC18F27K42/dist/default/production/PIC18F27K42.production.hxl
PIC18F27K42/dist/default/production/PIC18F27K42.production.lst
PIC18F27K42/dist/default/production/PIC18F27K42.production.mum
PIC18F27K42/dist/default/production/PIC18F27K42.production.rlf
PIC18F27K42/dist/default/production/PIC18F27K42.production.sdb
PIC18F27K42/dist/default/production/PIC18F27K42.production.sym
PIC18F27K42/dist/MBRTU/debug/memoryfile.xml
PIC18F27K42/dist/MBRTU/debug/PIC18F27K42.debug.cmf
PIC18F27K42/dist/MBRTU/debug/PIC18F27K42.debug.hxl
PIC18F27K42/dist/MBRTU/debug/PIC18F27K42.debug.lst
PIC18F27K42/dist/MBRTU/debug/PIC18F27K42.debug.mum
PIC18F27K42/dist/MBRTU/debug/PIC18F27K42.debug.rlf
PIC18F27K42/dist/MBRTU/debug/PIC18F27K42.debug.sdb
PIC18F27K42/dist/MBRTU/debug/PIC18F27K42.debug.sym
PIC18F27K42/dist/MBRTU/production/memoryfile.xml
PIC18F27K42/dist/MBRTU/production/PIC18F27K42.production.cmf
PIC18F27K42/dist/MBRTU/production/PIC18F27K42.production.hxl
PIC18F27K42/dist/MBRTU/production/PIC18F27K42.production.lst
PIC18F27K42/dist/MBRTU/production/PIC18F27K42.production.mum
PIC18F27K42/dist/MBRTU/production/PIC18F27K42.production.rlf
PIC18F27K42/dist/MBRTU/production/PIC18F27K42.production.sdb
PIC18F27K42/dist/MBRTU/production/PIC18F27K42.production.sym
PIC18F27K42/dist/base/debug/memoryfile.xml
PIC18F27K42/dist/base/debug/PIC18F27K42.debug.cmf
PIC18F27K42/dist/base/debug/PIC18F27K42.debug.hxl
PIC18F27K42/dist/base/debug/PIC18F27K42.debug.lst
PIC18F27K42/dist/base/debug/PIC18F27K42.debug.mum
PIC18F27K42/dist/base/debug/PIC18F27K42.debug.rlf
PIC18F27K42/dist/base/debug/PIC18F27K42.debug.sdb
PIC18F27K42/dist/base/debug/PIC18F27K42.debug.sym
