# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#MPLABX specific
*.i
*.p1
build/default/debug/main.i
build/default/debug/main.p1
build/default/debug/nwk/nwk_src/nwk.i
build/default/debug/nwk/nwk_src/nwk.p1
build/default/debug/nwk/nwk_src/nwkRoute.i
build/default/debug/nwk/nwk_src/nwkRoute.p1
build/default/debug/nwk/nwk_src/nwkRouteDiscovery.i
build/default/debug/nwk/nwk_src/nwkRouteDiscovery.p1
build/default/debug/nwk/nwk_src/nwkRx.i
build/default/debug/nwk/nwk_src/nwkRx.p1
build/default/debug/phy/sx1216/phy_src/phy.i
build/default/debug/phy/sx1216/phy_src/phy.p1
build/default/debug/test.i
build/default/debug/test.p1
build/default/production/main.i
build/default/production/main.p1
build/default/production/nwk/nwk_src/nwk.i
build/default/production/nwk/nwk_src/nwk.p1
build/default/production/nwk/nwk_src/nwkRoute.i
build/default/production/nwk/nwk_src/nwkRoute.p1
build/default/production/nwk/nwk_src/nwkRouteDiscovery.i
build/default/production/nwk/nwk_src/nwkRouteDiscovery.p1
build/default/production/nwk/nwk_src/nwkRx.i
build/default/production/nwk/nwk_src/nwkRx.p1
build/default/production/phy/sx1216/phy_src/phy.i
build/default/production/phy/sx1216/phy_src/phy.p1
build/default/production/test.i
build/default/production/test.p1
dist/default/debug/LWmesh.debug.cmf
dist/default/debug/LWmesh.debug.hxl
dist/default/debug/LWmesh.debug.mum
dist/default/debug/LWmesh.debug.rlf
dist/default/debug/LWmesh.debug.sdb
dist/default/debug/LWmesh.debug.sym
dist/default/debug/memoryfile.xml
dist/default/production/LWmesh.production.cmf
dist/default/production/LWmesh.production.hxl
dist/default/production/LWmesh.production.mum
dist/default/production/LWmesh.production.rlf
dist/default/production/LWmesh.production.sdb
dist/default/production/LWmesh.production.sym
dist/default/production/memoryfile.xml
